.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;
  padding-top: 50px;
  transition: all 0.3s;

  &:hover {
    background-color: #f0efe0;

    .wrapperManyModel {
      .model {
        opacity: 0;
      }
      .wrapperCheckModel {
        opacity: 1;
      }
    }

    .addCart {
      opacity: 1;
    }
  }

  .image {
    height: 450px;
    margin-top: 40px;
  }

  .name {
    margin-bottom: 20px;
    color: #262626;
  }
  .wrapperOneModel {
    display: flex;
    justify-content: center;
    height: 60px;
    .model {
      color: #676767;
    }
  }

  .wrapperManyModel {
    position: relative;
    width: 100%;
    height: 60px;
    .model {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      color: #676767;
      opacity: 1;
      transition: all 0.5s;
    }
    .wrapperCheckModel {
      display: flex;
      justify-content: space-around;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      height: 15px;
      width: 50%;
      opacity: 0;
      transition: all 0.5s;
      .checkModel {
      }
    }
  }

  .wrapperSubText {
    width: 80%;
    border-top: 2px solid black;

    .subText {
      padding: 30px 0;
      border-bottom: 1px solid #cfcec4;

      .title {
        margin-right: 15px;
      }

      .discription {
        color: #676767;
      }
    }
  }

  .addCart {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    color: white;
    background-color: #343434;
    border: none;
    opacity: 0;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: #010101;
    }
  }
}
