@import '../../styles/common.scss';
@mixin dashBoardFonts($font-size, $margin) {
  color: #fffef2;
  font-size: $font-size;
  margin: $margin;
}

@mixin moduleSize($height) {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $height;
  padding-top: 150px;
}

.dashBoard {
  .dashBoardWrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 36%;
    position: relative;

    .dashBoardImg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;

      background-position: 50% 50%;
      background-image: url(../../../public/images/christin-hume-0MoF-Fe0w0A-unsplash.jpg);

      background-size: cover;
      background-repeat: no-repeat;

      .dashBoardInfo {
        width: 1025px;
        height: 100%;
        background-color: red;
        padding: 200px 0px 180px;
        padding-left: 250px;

        header h2 {
          @include dashBoardFonts(14px, 0px 0px 15px);
        }

        h1 {
          @include dashBoardFonts(30px, 0px 0px 15px);
        }

        p {
          @include dashBoardFonts(16px, 0px 0px 30px);
        }
        .goToPerfume {
          a {
            // @include dashBoardFonts(14px, 0px -0.5px 20px);
          }
        }
      }
    }
  }

  section {
    .fragranceWrapper {
      @include moduleSize(701.8px);
      background-color: aqua;
    }

    .historyWrapper {
      @include moduleSize(805.08px);
      background-color: green;
    }

    .travelWrapper {
      @include moduleSize(780.08px);
      flex-direction: row-reverse;
      background-color: orange;

      img {
        width: 999.25px;
        height: 562.08px;
      }
    }

    .goodChoice {
      width: 100%;
      height: 249.9px;
      padding-top: 150px;

      h2 {
        padding-left: 80px;
        font-size: 30px;
      }
    }

    .goodChoiceWrapper {
      @include moduleSize(602.3px);
      padding-top: 50px;
      background-color: pink;
    }

    .closeStore {
      @include moduleSize(689.34px);
      // display: flex;
      // width: 1905px;
      // height: 689.34px;
      padding-top: 150px;

      img {
        width: 999px;
        height: 561.94px;
      }
    }
    .bottomQuote {
      display: flex;

      width: 100%;
      height: 387.9px;
      padding: 150px 40px;
      flex-direction: column;
      align-items: center;

      .quote {
        margin-bottom: 20px;
        font-size: 30px;
      }

      .cite {
        font-size: 14px;
      }
    }
  }
}
