.container {
  width: 100vw;

  .topContainer {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    border-top: 1px solid #333333;

    .imgBox {
      width: 65%;
      display: flex;
      justify-content: right;

      img {
        height: 500px;
        margin-top: 100px;
      }
    }
    .descriptionBox {
      width: 35%;
      margin-top: 30px;

      .itemContainer {
        width: 80%;
      }

      .titleBox {
        height: 130px;

        border-bottom: 1px solid #333333;
      }
      .title {
        font-size: 30px;
      }
      .description {
        padding-bottom: 20px;
      }
      .categories {
        .category {
          border-bottom: 0.5px solid #333333;
          height: 50px;

          .element {
            font-weight: lighter;
          }
        }

        p {
          margin: 7px 0 7px 0;
          font-size: 15px;
        }
      }
      div {
        margin: 20px 0 20px 0;
      }
      .sizeBox {
        p {
          margin-bottom: 10px;
        }
      }

      button {
        width: 100%;
        height: 50px;
        background-color: #333333;
        color: white;
        border-radius: 0;
        border: none;
        margin-bottom: 10px;
      }
      .recommendNewItem {
        p {
          margin: 10px 0 10px 0;
        }
        .text {
          font-weight: 400;
        }
        .itemName {
          font-weight: lighter;
        }
      }
    }
  }

  .bottomContainer {
    margin-top: 200px;
    margin-bottom: 200px;

    .carouselWrapper {
      width: 1000px;
      height: 350px;
      overflow: hidden;

      .carousel {
        display: flex;
      }

      .image {
        width: 300px;
      }
    }
  }
  .rightArrow {
    position: absolute;
    top: 1000px;
    left: 32px;
    font-size: 32px;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
}
