.adCard {
  width: 570.99px;
  height: 592.08px;
  padding-left: 80px;

  .adCardArticle {
    width: 490.99px;
    height: 278.09px;

    .adCardHeader {
      width: 490.99px;
      height: 113.7px;

      .adCardTopTitle {
        width: 490.99px;
        height: 23.8px;
        margin-bottom: 20px;
        font-size: 14px;
      }

      .adCardMainTitle {
        width: 490.99px;
        height: 39.9px;
        margin-bottom: 30px;
        font-size: 30px;
      }
    }

    .adStory {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 26px;
    }

    a {
      width: 300px;
      height: 60px;
      padding: 19px 55px 19px 23px;
    }
  }
}
