.shoppingBasket {
  width: 100vw;
  max-height: 100vh;
  padding: 40px;
  background-color: #252525;
  transition: height 0.3s;
  overflow-y: scroll;

  .wrapperPayment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
    height: 150px;
    margin: 60px 0 0 auto;
    color: #bcbbb4;

    .wrapperAmount {
      display: flex;
      justify-content: space-between;

      .amount {
        font-size: 25px;
        color: #fffef2;
      }
    }

    .payment {
      height: 60px;
      background-color: #eaeadf;
      color: #212121;
    }
  }
}
