.title {
  padding-bottom: 25px;
  border-bottom: 2px solid #3b3b3a;
  color: #bcbbb4;
  font-size: 15px;
}

.quantities {
  background-color: inherit;
  border: 0;
}

.delete {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

.info {
  padding: 25px 0;
  border-bottom: 1px solid #3b3b3a;
  color: #fffef2;
}

.size {
  color: #bcbbb4;
}

.price {
  text-align: end;
}
