.basketRow {
  display: flex;
  width: 100%;
  padding: 25px 0;
  border-bottom: 2px solid #3b3b3a;
  font-size: 18px;

  .name {
    flex: 4;
  }

  .size {
    flex: 2;
  }

  .quantities {
    width: 100px;

    .select {
      width: 100px;
      background-color: inherit;
      border: 0;
      font-size: 18px;
      color: #bcbbb4;
    }
  }

  .delete {
    width: 50px;
    border: 0;
    color: #bcbbb4;
    background-color: inherit;
    font-size: 15px;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s;
  }

  .price {
    flex: 1.5;
    text-align: end;
  }

  &:hover .delete {
    opacity: 1;
  }
}

// .title {
//   padding-bottom: 25px;
//   border-bottom: 2px solid #3b3b3a;
//   color: #bcbbb4;
//
// }

// .quantities {
//   background-color: inherit;
//   border: 0;
// }

// .delete {
//   background-color: inherit;
//   border: 0;
//   cursor: pointer;
// }

// .info {
//   padding: 25px 0;
//   border-bottom: 1px solid #3b3b3a;
//   color: #fffef2;
// }

// .size {
//   color: #bcbbb4;
// }

// .price {
//   text-align: end;
// }
