.signUp {
  margin-right: 10px;
}

.modal {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.modalBody {
  width: 555px;
  height: 90vh;
  overflow-y: scroll;

  .modalBox {
    width: 540px;
    height: 900px;
    padding: 50px;
    background-color: #fffef2;
  }

  .buttons {
    display: flex;
    justify-content: right;

    button {
      border: none;
      background-color: #fffef2;
    }
  }

  .modalTitle {
    font-size: 30px;
    margin: 40px 0 10px 0;
  }

  .modalSubtitle {
    font-size: 16px;
    color: #666666;
    margin: 20px 0 20px 0;
  }

  form {
    display: flex;
    flex-direction: column;

    .inputBox {
      border-bottom: 0.5px solid #666666;
      position: relative;

      .placeholder {
        position: absolute;
        top: 60px;
        color: #666666;
        font-size: 20px;
        transition: all 0.1s;
      }
      .placeholderHasValue {
        color: #666666;
        transform: translateY(40px);
        font-size: 13px;
      }
    }
    .name {
      display: flex;
    }

    .errorMessage {
      font-size: 15px;
      color: #ea6956;
      margin-top: 10px;
    }

    input {
      border: none;
      height: 50px;
      margin: 40px 0 0 0;
      padding: 8px 0;
      background-color: #fffef2;
      font-size: 20px;

      &:focus {
        outline: none;
      }

      // .firstName {
      //   width: 100px;
      // }

      // .lastName {
      //   width: 100px;
      // }
    }
  }

  .checkBox {
    margin-top: 30px;

    div {
      margin: 10px 0 10px 0;
    }

    span {
      font-size: 14px;
      font-weight: lighter;
    }
  }

  .signUpButton {
    margin-top: 40px;
    width: 100%;
    height: 55px;
    background-color: #333333;
    color: white;
    border: none;
    // &:focus {
    //   cursor: pointer;
    // }
  }

  .haveAccountBox {
    display: flex;
    justify-content: center;
  }

  .haveAccount {
    margin-top: 30px;
    border: none;
    background-color: #fffef2;
    font-size: 15px;
    font-weight: lighter;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}
