@mixin wesopLogoFont {
  font-family: 'LeferiPoint-SpecialA';
}

@mixin wideModalListsInterval {
  height: 21px;
  margin-bottom: 12px;
}

@mixin modalListsDefault {
  width: 240px;
  padding-right: 3vw;
  font-size: 16px;
}

.navigationModal {
  display: flex;
  width: 100%;

  .wesopLogoWrap {
    flex: 1.6666;
    margin-top: 90px;

    .wesopLogoInWideModal {
      @include wesopLogoFont;
      width: 120px;
      margin-left: 40px;
      font-size: 40px;
    }
  }
  .navModalListWarp {
    //여기
    display: flex;
    flex: 4.9998;
    margin-top: 90px;
    margin-bottom: 40px;

    .modalList {
      @include modalListsDefault();
      transition: all 5s linear 0.5s;
    }
  }

  .navModalImage {
    //여기
    flex: 3.3332;
    height: calc(100vh - 83px);

    .handHoldingMirror {
      width: 100%;
      height: 100%;
    }
  }
}
